.resourcesGrid {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  margin: 1.75rem 0 4rem;
}

.icon[data-icon="message"]::before {
  mask-image: url("https://d3gk2c5xim1je2.cloudfront.net/v7.1.0/regular/message.svg");
  -webkit-mask-image: url("https://d3gk2c5xim1je2.cloudfront.net/v7.1.0/regular/message.svg");
}

.icon[data-icon="newspaper"]::before {
  mask-image: url("https://d3gk2c5xim1je2.cloudfront.net/v7.1.0/regular/newspaper.svg");
  -webkit-mask-image: url("https://d3gk2c5xim1je2.cloudfront.net/v7.1.0/regular/newspaper.svg");
}

.icon[data-icon="video"]::before {
  mask-image: url("https://d3gk2c5xim1je2.cloudfront.net/v7.1.0/regular/circle-play.svg");
  -webkit-mask-image: url("https://d3gk2c5xim1je2.cloudfront.net/v7.1.0/regular/circle-play.svg");
}

@media (max-width: 996px) {
  .resourcesGrid {
    grid-template-columns: 1fr;
  }
}
